apiVersion: v1
kind: Service
metadata:
  name: {{ include "todo-app.fullname" . }}-backend
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "todo-app.labels" . | nindent 4 }}
    component: backend
spec:
  selector:
    {{- include "todo-app.selectorLabels" . | nindent 4 }}
    component: backend
  ports:
  - protocol: TCP
    port: {{ .Values.service.backend.port }}
    targetPort: 8000
  type: {{ .Values.service.backend.type }}