apiVersion: v1
kind: Service
metadata:
  name: {{ include "todo-app.fullname" . }}-frontend
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "todo-app.labels" . | nindent 4 }}
    component: frontend
spec:
  selector:
    {{- include "todo-app.selectorLabels" . | nindent 4 }}
    component: frontend
  ports:
  - protocol: TCP
    port: {{ .Values.service.frontend.port }}
    targetPort: 3000
  type: {{ .Values.service.frontend.type }}