apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Release.Namespace }}
  labels:
    name: {{ .Release.Namespace }}
    app: {{ include "todo-app.name" . }}
    chart: {{ include "todo-app.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}